.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 200px 0 200px;
    background-color:#0e0f21;
    .img{
        width: 240px;
        height: 65px;
        object-fit: contain;
        cursor: pointer;
    }
    .rowBetween{
        display: flex;
        align-items: center;
        .menu{
            font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        color: #FFFFFF;
        cursor: pointer;
        padding: 8px 10px;
        // background-color: red;
        }
        .linkActive{
            background: #3A4D8E;
            border-radius: 24px;        
        }
        .mrBtn{
            margin: 0 40px,
        }
    }
    .menuMobile{
        display: none;
    }
    

    @media only screen and (max-width: 767px) {
        padding: 0 20px;
        .img{
            width: 147px;
            height: 40px;
            object-fit: contain;
        }
    }
    @media only screen and (min-width: 768px) and (max-width: 1000px) {
        padding: 0 50px;
        .img{
            width: 200px;
            height: 65px;
            object-fit: contain;
        }
    }

    @media (max-width: 767px) {
        position: relative;
        width: 100%;
        .rowBetween {
            // display: none;

        }
        .menuMobile{
           
            display: none;
            cursor: pointer;
            .imgMenu{
                width: 30px;
                height: 30px;
            }
        }
        .menu{
            position: absolute;
            background-color: #ebfffcfc;
            width: 100%;
           z-index: 99;
           top: 0;
           right: 0;
           border-bottom-left-radius: 2px;
           border-bottom-right-radius: 2px;
            .close{
                text-align: right;
                padding-top: 10px;
                padding-right: 10px;
                .imgMenu{
                    width: 30px;
                    height: 30px;
                }
               
            }
            .contentMenu{
                .textMenu{
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 22px;
                    color: #000000;
                    cursor: pointer;
                    padding: 8px 10px;
                    display: block;
                    text-align: center;
                }
                .textLinkActive{
                    background: #3A4D8E;
                    color: #FFFFFF;
                }
                
            }
            
            
        }
        .blur{
            z-index: 10;
            background-color: #000000;
            opacity: 0.7;
            position: fixed;
            top:0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
}