.container{
    margin: 0 auto;
    width: 100%;
    background-color:#0e0f21;
    .padding{
        padding: 0 200px;
    }
    .mrT{
        margin-top: 105px;
        margin-bottom: 113px;
    }
    .banner{
        padding-left: 200px;
        padding-right: 150px;
    }
    .mrVision{
        margin-top: 190px;
    }
   
    @media only screen and (max-width: 767px) {
        .padding{
            padding: 0 20px;
        }
        .banner{
            padding-left: 10px;
            padding-right: 10px;
            margin-top: 30px;
        }
    }
    @media only screen and (min-width: 768px) and (max-width: 1000px) {
        .padding{
            padding: 0 50px;
        }
        .banner{
            padding-left: 50px;
            padding-right: 40px;
            margin-top: 30px;
            // background-color: red;
        }
        .mrVision{
            margin-top: 200px;
        }
    }
}