.container{
    .row{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .left{
            margin-right: 24px;
        }
    }
    
    @media only screen and (max-width: 470px) {
        .row{
            flex-direction: column;
            .left{
                margin-right: 0;
            }
            .right{
                width: 100%;
            }
           }
    }
    @media only screen and (min-width: 471px)  and (max-width: 767px) {
        .row{
            flex-direction: column;
            .left{
                margin-right: 0;
            }
            .right{
                width: 100%;
            }
           }
    }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
       .row{
        flex-direction: column;
        .left{
            margin-right: 0;
        }
        .right{
            width: 100%;
        }
       }
    }
}