.container{
    border-top: 1px solid #14245A;
    padding-top: 44px;
    margin-top: 110px;
    width: 100%;
    .row{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 36px;
        .title{
            font-weight: 700;
            font-size: 32px;
            line-height: 40px;
            text-align: center;
            color: #FFFFFF;
        }
        .color{
            background: linear-gradient(131.78deg, #0A26BD 0.06%, #018C96 53.14%, #61DE29 99.97%);
            margin-left: 5px
        }
    }
    .content{
        display: flex;
        flex-flow: wrap;
        justify-content: center;
        align-items: center;
        .item{
            // width: calc((100%) / 4);
            margin-bottom: 40px;
            padding: 0 12px;
            .img{
                width: 244px;
                height: 295px;
            }
            .name{
                font-weight: 700;
                font-size: 20px;
                line-height: 25px;
                color: #FFFFFF;
                margin-top: 16px;
                margin-bottom: 8px;
            }
            .text{
                font-weight: 600;
                font-size: 16px;
                line-height: 20px;
                color: #888888;
            }
        }
    }
    @media only screen and (max-width: 767px) {
        margin-top: 30px;
        .content{
            flex-direction: column;
            .item{
                width: 244px;
                padding: 0;
            }
        }
        .row{
            .title{
                font-size: 28px;
                line-height: 35px;
            }
        }
        
    }
    @media only screen and (min-width: 768px) and (max-width: 1000px) {
        margin-top: 80px;
        
    }
}