.container{
    background: linear-gradient(180deg, #11132D 0%, rgba(38, 41, 68, 0.1) 100%);
    border-radius: 20px;
    padding: 40px 42px;
    .title{
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 20px;
    }
        .row{
            display: flex;
            align-content: center;
            justify-content: space-between;
            .content{
                width: calc((100% - 64px)/3);
                .contentImg{
                    display: flex; 
                    justify-content: center;
                    .image{
                        width: 64px;
                        height: 64px;
                        border-radius: 50%;
                        background-color: #1E3276;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
                .text{
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 24px;
                    text-align: center;
                    color: #FFFFFF;
                    margin: 10px 0;
                }
                .description{
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 24px;
                    text-align: center;
                    color: #D6D6D6;
                }
            }
        }
    @media only screen and (max-width: 767px) {
        .title{
            font-size: 26px;
        }
        .row{
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            .content{
                width: 100%;
                margin-top: 30px;
            }
        }
    }
}