.container{
    width: 100%;
    
        .content{
            width: 100%;
            .contentText{
                margin-top: 16px;
                .titleVideo{
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 32px;
                    color: #FFFFFF;
                    margin-bottom: 16px;
                    width: 100%;
                }
                .row{
                    display: flex;
                    align-items: center;
                    .text{
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 20px;
                        color: #888888;
                    }
                    .dot{
                        width: 6px;
                        height: 6px;
                        border-radius: 50%;
                        background-color: #888888;
                        margin: 0 5px;
                    }
                }
            }
        }
        @media only screen  and (max-width: 767px) {
            .content{
                .contentText{
                    .titleVideo{
                        display: -webkit-box;
                        // max-height: 3.2rem
                       -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: normal;
                        -webkit-line-clamp: 2;
                        margin-bottom: 5px;
                    }
                    .row{
                        display: flex;
                        align-items: center;
                        .text{
                            font-weight: 700;
                            font-size: 14px;
                            line-height: 20px;
                            color: #888888;
                        }
                        .dot{
                            width: 6px;
                            height: 6px;
                            border-radius: 50%;
                            background-color: #888888;
                            margin: 0 5px;
                        }
                    }
                }
            }
        }
}